@page
@model Server.Pages.Profile.AddressesModel
@{

}
<section class="inner-page" id="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <!-- Side Panel -->
                            <partial name="PartialViews/_PersonalInfoSideMenu" />
                            <!-- /Side Panel -->
                        </div>
                        <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <!-- New Address Form -->
                            <div class="custom-container mb-2" id="new-address">
                                <div class="row p-3">
                                    <div class="col-12"><h1>@(Resources.DataDictionary.CreateOf) @(Resources.DataDictionary.Address)</h1></div>
                                </div>
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 pt-3">
                                            @if (Model.UpdateAddress.Id != Guid.Empty)
                                            {
                                                <form method="post" asp-page-handler="update" asp-route-Id="@(Model.UpdateAddress.Id)" asp-route-check="Update">
                                                    <div class="row">
                                                        <input asp-for="UpdateAddress.Id" hidden />
                                                        <input asp-for="CustomerId" hidden />
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="province">@(Resources.DataDictionary.Country) :</label>
                                                                <input asp-for="UpdateAddress.Country" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="city">@(Resources.DataDictionary.Province) :</label>
                                                                <input asp-for="UpdateAddress.Province" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="city">@(Resources.DataDictionary.City) :</label>
                                                                <input asp-for="UpdateAddress.City" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-8 pl-2">
                                                            <div class="form-grou m-1">
                                                                <label for="address">@(Resources.DataDictionary.Address) :</label>
                                                                <textarea type="text" asp-for="UpdateAddress.Address" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="postal_code">@(Resources.DataDictionary.PostalCode) :</label>
                                                                <input type="text" asp-for="UpdateAddress.PostalCode" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <button type="submit" class="btn btn-warning m-1">@(Resources.ButtonCaptions.Update) @(Resources.DataDictionary.Address)</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" asp-page-handler="create">
                                                    <div class="row">
                                                        <input asp-for="CustomerId" hidden />
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="province">@(Resources.DataDictionary.Country) :</label>
                                                                <input asp-for="CreateAddress.Country" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="city">@(Resources.DataDictionary.Province) :</label>
                                                                <input asp-for="CreateAddress.Province" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="city">@(Resources.DataDictionary.City) :</label>
                                                                <input asp-for="CreateAddress.City" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-8 pl-2">
                                                            <div class="form-grou m-1">
                                                                <label for="address">@(Resources.DataDictionary.Address) :</label>
                                                                <textarea type="text" asp-for="CreateAddress.Address" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="postal_code">@(Resources.DataDictionary.PostalCode) :</label>
                                                                <input type="text" asp-for="CreateAddress.PostalCode" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <button type="submit" class="btn btn-primary m-1">@(Resources.ButtonCaptions.Create) @(Resources.DataDictionary.Address)</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /New Address Form -->
                            <!-- User Addresses -->
                            <div class="custom-container" id="addresses">
                                <div class="row p-3">
                                    <div class="col-12"><h1>@(Resources.DataDictionary.MyAddress)</h1></div>
                                </div>
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <!-- Address Record -->
                                        <div class="col-12 address py-2">
                                            <div class="row">
                                                @foreach (var item in Model.ViewModel)
                                                {
                                                    <div class="col-12 col-sm-9 col-lg-10 my-1">
                                                        <div class="sub-title">@(Resources.DataDictionary.Country) : @(item.Country)</div>
                                                        <div class="sub-title">@(Resources.DataDictionary.Province) : @(item.Province)</div>
                                                        <div class="sub-title">@(Resources.DataDictionary.City) : @(item.City)</div>
                                                        <div class="sub-title">@(Resources.DataDictionary.Address) : @(item.Address)</div>
                                                        <div class="sub-title">@(Resources.DataDictionary.PostalCode) : @(item.PostalCode)</div>
                                                    </div>
                                                    <div class="col-12 col-sm-3 col-lg-2">
                                                        <form method="post" asp-page-handler="update" asp-route-Id="@(item.Id)" asp-route-check="Get">
                                                            <input asp-for="CustomerId" hidden />
                                                            <button type="submit" class="my-2 w-100 btn btn-sm btn-warning">@(Resources.ButtonCaptions.Edit)</button>
                                                        </form>
                                                        <form method="post" asp-page-handler="delete" asp-route-Id="@(item.Id)">
                                                            <input asp-for="CustomerId" hidden />
                                                            <button type="submit" class="my-2 w-100 btn btn-sm btn-danger">@(Resources.ButtonCaptions.Delete)</button>
                                                        </form>
                                                    </div>
                                                    <hr />
                                                }
                                                @if (Model.ViewModel.Count == 0)
                                                {
                                                    <div class="col-12">
                                                        <div class="title">@(Resources.Messages.Errors.YouHaveNotRegisteredAnAddressYet)</div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- Address Record -->
                                    </div>
                                </div>
                            </div>
                            <!-- /User Addresses -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>