@page "{Id}"
@model Server.Pages.Profile.Personal_InfoModel
@{
    string FullName = $"{Model.ViewModel.FirstName} {Model.ViewModel.LastName}";
}

<section class="inner-page" id="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <!-- Side Panel -->
                            <div class="accordion" id="side-panel">
                                <div class="accordion-item menu-container">
                                    <h2 class="accordion-encrypt231432">
                                        <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                            <span class="row">
                                                <span class="col-3 col-sm-2 col-lg-3">
                                                    <img src="/images/user-no-image.jpg" class="rounded-circle">
                                                </span>
                                                <span class="col-7 col-sm-8 col-lg-7 pt-0 pt-sm-2 pt-md-3 pt-lg-0 align-self-center">
                                                    <div id="full-name">@(FullName)</div>
                                                    <div class="mt-2" id="email-mobile">@(Model.ViewModel.Mobile)</div>
                                                </span>
                                            </span>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    <a asp-page="/Profile/Personal-Info" class="active">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="/images/icons/profile-menu/profile.webp" class="pl-2"></div> اطلاعات حساب
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-page="/Profile/Factors">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="/images/icons/profile-menu/orders.webp" class="pl-2"></div> سفارش های من
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-page="/Profile/Favorites">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="/images/icons/profile-menu/favorites.webp" class="pl-2"></div> علاقه مندی ها
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-page="/Profile/Addresses">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="/images/icons/profile-menu/addresses.webp" class="pl-2"></div> آدرس های من
                                                        </div>
                                                    </a>
                                                </li>
                                                <li><hr></li>
                                                <li>
                                                    <a asp-page="/Index">
                                                        <div>
                                                            <div class="icon d-inline-block"><img src="/images/icons/profile-menu/exit.webp" class="pl-2"></div> خروج از حساب
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Side Panel -->
                        </div>
                        <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <!-- Profile Fields -->
                            <form method="post">
                                <div class="custom-container bg-light" id="profile-fields">
                                    <input asp-for="ViewModel.Id" hidden />
                                    <div class="p-3 d-flex">
                                        <div><h1>اطلاعات شخصی</h1></div>
                                        <button type="button" id="editBtn" onclick="EditInformation()" class="btn btn-sm btn-secondary ms-auto">ویرایش مشخصات</button>
                                        <div id="subBtn" class="ms-auto" hidden>
                                            <button type="submit" asp-route-Id="@(Model.ViewModel.Id)" class="btn btn-sm btn-success">@(Resources.ButtonCaptions.Edit)</button>
                                            <button type="button" onclick="CancelInformation()" class="btn btn-sm btn-danger">@(Resources.ButtonCaptions.Cancel)</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">@(Resources.DataDictionary.FirstName)</div>
                                                        <div id="FirstNameLable" class="value">@(Model.ViewModel.FirstName)</div>
                                                        <input id="FirstNameInput" asp-for="ViewModel.FirstName" class="form-control" hidden />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">@(Resources.DataDictionary.LastName)</div>
                                                        <div id="LastNameLable" class="value">@(Model.ViewModel.LastName)</div>
                                                        <input id="LastNameInput" asp-for="ViewModel.LastName" class="form-control" hidden />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">@(Resources.DataDictionary.NationalCode)</div>
                                                        @if (Model.ViewModel.NationalCode == null)
                                                        {
                                                            <div id="NationalCodeLable" class="value">@(Resources.DataDictionary.NotRegistered)</div>
                                                            <input id="NationalCodeInput" asp-for="ViewModel.NationalCode" class="form-control" hidden />
                                                        }
                                                        else
                                                        {
                                                            <div id="NationalCodeLable" class="value">@(Model.ViewModel.NationalCode)</div>
                                                            <input id="NationalCodeInput" asp-for="ViewModel.NationalCode" class="form-control" hidden />
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">@(Resources.DataDictionary.CellPhonenumber)</div>
                                                        @if (Model.ViewModel.Mobile == null)
                                                        {
                                                            <div id="MobileLable" class="value">@(Resources.DataDictionary.NotRegistered)</div>
                                                            <input id="MobileInput" asp-for="ViewModel.Mobile" class="form-control" hidden />
                                                        }
                                                        else
                                                        {
                                                            <div id="MobileLable" class="value">@(Model.ViewModel.Mobile)</div>
                                                            <input id="MobileInput" asp-for="ViewModel.Mobile" class="form-control" hidden />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">@(Resources.DataDictionary.Email)</div>
                                                        @if (Model.ViewModel.Email == null)
                                                        {
                                                            <div id="EmailLable" class="value">@(Resources.DataDictionary.NotRegistered)</div>
                                                            <input id="EmailInput" asp-for="ViewModel.Email" class="form-control" hidden />
                                                        }
                                                        else
                                                        {
                                                            <div id="EmailLable" class="value">@(Model.ViewModel.Email)</div>
                                                            <input id="EmailInput" asp-for="ViewModel.Email" class="form-control" hidden />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- /Profile Fields -->
                            <!-- Latest Orders -->
                            <div class="mt-2 order">
                                <div class="row pt-2 px-3">
                                    <div class="col-12"><h2>آخرین سفارش ها</h2></div>
                                </div>
                            </div>
                            <div class="custom-container mt-2 order">
                                <div class="row pt-2 px-3">
                                    <div class="col-12 col-sm-6"><h2>سفارش شماره #1234</h2></div>
                                    <div class="col-12 col-sm-6 text-sm-end"><span>20 مرداد 1400</span> - <span>پرداخت شده</span></div>
                                </div>
                                <hr>
                                <div class="container">
                                    <div class="row py-2">
                                        <div class="col-12">
                                            <div>
                                                <div class="encrypt231432">
                                                    <div class="total py-1"><span>مبلغ کل:</span> 3.000.000 تومان</div>
                                                </div>
                                                <div class="container products px-0">
                                                    <div class="row">
                                                        <!-- Order Record -->
                                                        <span class="col-12 col-sm-6 col-lg-4 col-xl-3 px-1">
                                                            <a href="../product.html" target="_blank">
                                                                <div class="encrypt263156">
                                                                    <div class="image" style="background-image: url('/images/products/p100.png')"></div>
                                                                    <div class="text-center px-1 px-sm-3">
                                                                        <h2>گوشی موبایل سامسونگ مدل Galaxy A21s</h2>
                                                                        <div class="number">تعداد: 1 عدد</div>
                                                                        <div class="price">مبلغ: 3.000.000 عدد</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </span>
                                                        <!-- /Order Record -->
                                                        <!-- Order Record -->
                                                        <span class="col-12 col-sm-6 col-lg-4 col-xl-3 px-1">
                                                            <a href="../product.html" target="_blank">
                                                                <div class="encrypt263156">
                                                                    <div class="image" style="background-image: url('/images/products/p100.png')"></div>
                                                                    <div class="text-center px-1 px-sm-3">
                                                                        <h2>گوشی موبایل سامسونگ مدل Galaxy A21s</h2>
                                                                        <div class="number">تعداد: 1 عدد</div>
                                                                        <div class="price">مبلغ: 3.000.000 عدد</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </span>
                                                        <!-- /Order Record -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Latest Orders -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/Personal-Info.js"></script>
