@page
@model Server.Areas.Admin.Pages.BasicInfo.Users.IndexModel
@{
}
<div class="my-2 float-end">
    <a class="btn btn-primary" asp-page="Create" asp-area="Admin">@(Resources.ButtonCaptions.Create)</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@(Resources.DataDictionary.Name)</th>
            <th scope="col">@(Resources.DataDictionary.Family)</th>
            <th scope="col">@(Resources.DataDictionary.UserName)</th>
            <th scope="col">@(Resources.DataDictionary.Mobile)</th>

            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var model in Model.ViewModel)
        {
            <tr>
                <td>@(model.FirstName)</td>
                <td>@(model.LastName)</td>
                <td>@(model.UserName)</td>
                <td>@(model.Mobile)</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            عملیات
                        </button>
                        <ul class="dropdown-menu">
                            <li><a asp-page="Update" asp-route-Id="@(model.Id)" type="button" class="btn btn-warning">@(Resources.ButtonCaptions.Edit)</a></li>
                            <li><a asp-page="Delete" asp-route-Id="@(model.Id)" type="button" class="btn btn-danger">@(Resources.ButtonCaptions.Delete)</a></li>
                            <li><a asp-page="/BasicInfo/ShippingAddress/Index" asp-route-CustomerId="@(model.Id)" type="button" class="btn btn-info">@(Resources.ButtonCaptions.AddressManagement)</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
