@page
@model Server.Areas.Admin.Pages.BasicInfo.Discounts.CreateModel
@{
    var pageTitle =
    $"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.DiscountCode}";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

    <section-form>
        <fieldset>
            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />

            <ub-full-input asp-for="ViewModel.Title" />

            <ub-full-input asp-for="ViewModel.DiscountCode" />

            <ub-full-checkbox asp-for="ViewModel.IsActive" />

            <div class="tab btn-group">
                <a class="tablinks btn btn-primary" onclick="openTab(event, 'Settings')">@(Resources.DataDictionary.Settings)</a>
                <a class="tablinks btn btn-primary" onclick="openTab(event, 'DiscountCode')">@(Resources.DataDictionary.DiscountCode)</a>
                <a class="tablinks btn btn-primary" onclick="openTab(event, 'test')">test</a>
            </div>

            <div id="Settings" class="tabcontent col-12 border rounded-2 my-2 p-2">
                <h3>@(Resources.DataDictionary.Settings)</h3>
                <p>Settings is the capital city of England.</p>
            </div>

            <div id="DiscountCode" class="tabcontent col-12 border rounded-2 my-2 p-2">
                <h3>@(Resources.DataDictionary.DiscountCode)</h3>
                <div class="d-flex gap-4">
                    <div class="form-check">
                        <input asp-for="DiscountType" class="form-check-input" type="radio" id="Percentage" value="true" />
                        <label class="form-check-label" for="Percentage">
                            @(Resources.DataDictionary.DiscountPercentage)
                        </label>
                    </div>

                    <div class="form-check">
                        <input asp-for="DiscountType" class="form-check-input" type="radio" id="Fixed" value="false" />
                        <label class="form-check-label" for="Fixed">
                            @(Resources.DataDictionary.DiscountFixed)
                        </label>
                    </div>
                </div>
                <br />
                <ub-full-input asp-for="ViewModel.Minimum" />
                <div class="mb-3 d-none" id="extraInputWrapper">
                    <ub-full-input asp-for="ViewModel.Maximum" />
                </div>
                <ub-full-input asp-for="ViewModel.Amount" />

                <div class="mb-3">
                    <label asp-for="ViewModel.Start" class="form-lable"></label>
                    <input type="datetime-local" class="form-control mt-2" asp-for="ViewModel.Start" value="@(Model.ViewModel.End.ToString("yyyy-dd-MMTHH:mm"))" />
                </div>

                <div class="mb-3">
                    <label asp-for="ViewModel.End" class="form-lable"></label>
                    <input type="datetime-local" class="form-control mt-2" asp-for="ViewModel.End" value="@(Model.ViewModel.End.ToString("yyyy-dd-MMTHH:mm"))" />
                </div>
            </div>

            <div id="test" class="tabcontent col-12 border rounded-2 my-2 p-2">
                <h3>test</h3>
                <p>test is the capital of Japan.</p>
            </div>

        </fieldset>

        <section-form-buttons>
            <button-create />
            <button-reset />
        </section-form-buttons>

    </section-form>

</form>
