@page "{homeViewId:guid}"
@model Server.Areas.Admin.Pages.BasicInfo.HomeViews.SliderViewItems.IndexModel

@{
    var pageTitle =
        Resources.DataDictionary.SliderItems;

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}


<div class="my-2 float-end">
    <a class="btn btn-primary" asp-page="Create" asp-route-homeViewId="@(Model.HomeViewId)" asp-area="Admin">@(Resources.ButtonCaptions.Create)</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            @(Html.Ub_DisplayStringWithTh(Resources.DataDictionary.Title))
            @(Html.Ub_DisplayStringWithTh(Resources.DataDictionary.Order))
            @(Html.Ub_DisplayStringWithTh(Resources.DataDictionary.Interval))
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sliderView in Model.ViewModel)
        {
            <tr>
                @(Html.Ub_DisplayStringWithTd(sliderView.Title))
                @(Html.Ub_DisplayIntegerWithTd(sliderView.Ordering))
                @(Html.Ub_DisplayIntegerWithTd(sliderView.Interval))
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-page="Update" asp-route-Id="@(sliderView.Id)" class="btn btn-warning">@(Resources.ButtonCaptions.Edit)</a>
                        <a asp-page="Delete" asp-route-Id="@(sliderView.Id)" class="btn btn-danger">@(Resources.ButtonCaptions.Delete)</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>