@using Application.Aggregates.Categories.ViewModels
@model List<MenuCategoryViewModel>

@foreach (var item in Model)
{
	<div class="encrypt111212132" id="droopmenutab12">
		<a class="droopmenu-tabencrypt231432" asp-page="/Product/Search" asp-route-slug="@(item.Slug)">@(item.Name)</a>
		<div class="unibazzar-main">
			<div class="droopmenu-row">

				@foreach (var chunk in item.ChildCategories.Chunk(3))
				{
					<ul class="droopmenu-col droopmenu-col4">
						@foreach (var item1 in chunk)
						{
							<li><a class="fs-5 text-black" asp-page="/Product/Search" asp-route-slug="@(item1.Slug)">@(item1.Name)</a></li>
							@foreach (var item2 in item1.ChildCategories)
							{
								<li><a class="text-secondary fs-6" asp-page="/Product/Search" asp-route-slug="@(item2.Slug)">@(item2.Name)</a></li>
							}
						}
					</ul>
				}
			</div>
		</div>
	</div>
}
