@page
@model Server.Pages.CartModel
@{
}
<section class="inner-page" id="cart-page">
	<div class="container-fluid" id="page-hero">
		<div class="row">
			<div class="col-12">
				<div class="container">
					<div class="row">
						<div class="col-12 px-0">
							<h1>سبد خرید</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="content">
					<div class="row">
						<div class="col-12 col-lg-9">
							<div id="cart-products">
								<div class="container">
									<div class="row">
										<div class="col-12 py-3">
											<!-- Order Product Record -->
											@foreach (var item in Model.Basket.BasketItems)
											{
												<div class="row product">
													<div class="col-12">
														<div class="row">
															<div class="col-12 col-md-2 pl-0">
																<img src="/images/products/p100.png" alt="">
																<div class="d-flex flex-column align-items-center">
																	<div data-vue-component="PurchaseCounter"
																		 data-initial-value="@(item.Quantity)"
																		 data-basket-item-id="@(item.Id)"
																		 data-basket-id="@(Model.Basket.Id)"
																		 data-max-value="10"
																		 data-is-disabled="false"></div>

																</div>
															</div>
															<div class="col-10 col-md-7">
																<a asp-page="/Product" target="_blank"><div class="title pt-2">@(item.ProductName)</div></a>
																<div class="pt-1"><span class="product-total h5">@(item.TotalPrice.ToString("#,#"))</span> <span>تومان</span></div>

																<div class="pt-2">
																	@if (item.Attributes?.Count == 0)
																	{
																		<span>
																			<i class="bi bi-bag-plus"></i>
																			<span class="text-black-50">امکانات افزودنی (0 تومان)</span>
																		</span>
																	}
																	else
																	{
																		@foreach (var attribute in item.Attributes ?? [])
																		{
																			<span>
																				<i class="bi bi-bag-plus"></i>
																				<span class="text-black-50">@(attribute.ProductAttributeName) : @(attribute.ProductAttributeValue) (@(attribute.PriceAdjustment.ToString("#,#")))</span>
																			</span>
																		}
																	}

																</div>
																@if (item.DiscountValue > 0)
																{
																	<div class="pt-2"><span class="product-discount">@(item.DiscountValue.ToString("#,#"))</span> <span>تومان تخفیف</span></div>
																}
																<div class="col-12 pr-0 pt-2">
																	<div class="pt-1 pr-2"><span class="product-total h3">@(item.TotalPriceWithAdjustment.ToString("#,#"))</span> <span>تومان</span></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3 mt-2 mt-lg-0 pr-3 pr-lg-0">
							<div id="factor">
								<div class="container">
									<div class="row py-2">
										<div class="col-6">
											<div>جمع کل فاکتور:</div>
										</div>
										<div class="col-6">
											<div><span id="factor-total-price">@(Model.Basket.SubtotalBeforeBasketDiscount.ToString("#,#"))</span> تومان</div>
										</div>
									</div>
									<div class="row py-2 bg-light">
										<div class="col-6">
											<div>جمع تخفیف:</div>
										</div>
										<div class="col-6">
											<div><span id="factor-total-discount">@(Model.Basket.TotalItemDiscounts.ToString("#,#"))</span> تومان</div>
										</div>
									</div>
									<div class="row py-2" id="total">
										<div class="col-6">
											<div>مبلغ قابل پرداخت:</div>
										</div>
										<div class="col-6">
											<div><span id="factor-total">@(Model.Basket.BasketTotal.ToString("#,#"))</span> تومان</div>
										</div>
									</div>
									<div class="row py-2">
										<div class="col-12">
											<a asp-page="/Checkout"><input type="submit" value="ادامه ثبت سفارش" class="btn btn-success w-100"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 pt-5" id="suggested-products">
							<div class="title py-3 text-center">سایر محصولات پیشنهادی</div>
							<div class="owl-carousel products-carousel">
								<!-- Product Item -->
								<div class="encrypt263156 item">
									<a asp-page="/Product"><div class="image" style="background-image: url('/images/products/p102.png')"></div></a>
									<div class="details p-3">
										<div class="category">
											<a asp-page="/Products">گوشی موبایل</a>
											&nbsp;/&nbsp;
											<a asp-page="/Products">سامسونگ</a>
										</div>
										<a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
										<div class="price">4.000.000 تومان</div>
										<div class="rate">
											<i class="fa fa-star-half-alt"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span class="encrypt89312423451">(14 رای دهنده)</span>
										</div>
									</div>
								</div>
								<!-- /Product Item -->
								<!-- Product Item -->
								<div class="encrypt263156 item">
									<a asp-page="/Product"><div class="image" style="background-image: url('/images/products/p102.png')"></div></a>
									<div class="details p-3">
										<div class="category">
											<a asp-page="/Products">گوشی موبایل</a>
											&nbsp;/&nbsp;
											<a asp-page="/Products">سامسونگ</a>
										</div>
										<a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
										<div class="price">4.000.000 تومان</div>
										<div class="rate">
											<i class="fa fa-star-half-alt"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span class="encrypt89312423451">(14 رای دهنده)</span>
										</div>
									</div>
								</div>
								<!-- /Product Item -->
								<!-- Product Item -->
								<div class="encrypt263156 item">
									<a asp-page="/Product"><div class="image" style="background-image: url('/images/products/p102.png')"></div></a>
									<div class="details p-3">
										<div class="category">
											<a asp-page="/Products">گوشی موبایل</a>
											&nbsp;/&nbsp;
											<a asp-page="/Products">سامسونگ</a>
										</div>
										<a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
										<div class="price">4.000.000 تومان</div>
										<div class="rate">
											<i class="fa fa-star-half-alt"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span class="encrypt89312423451">(14 رای دهنده)</span>
										</div>
									</div>
								</div>
								<!-- /Product Item -->
								<!-- Product Item -->
								<div class="encrypt263156 item">
									<a asp-page="/Product"><div class="image" style="background-image: url('/images/products/p102.png')"></div></a>
									<div class="details p-3">
										<div class="category">
											<a asp-page="/Products">گوشی موبایل</a>
											&nbsp;/&nbsp;
											<a asp-page="/Products">سامسونگ</a>
										</div>
										<a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
										<div class="price">4.000.000 تومان</div>
										<div class="rate">
											<i class="fa fa-star-half-alt"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span class="encrypt89312423451">(14 رای دهنده)</span>
										</div>
									</div>
								</div>
								<!-- /Product Item -->
								<!-- Product Item -->
								<div class="encrypt263156 item">
									<a asp-page="/Product"><div class="image" style="background-image: url('/images/products/p102.png')"></div></a>
									<div class="details p-3">
										<div class="category">
											<a asp-page="/Products">گوشی موبایل</a>
											&nbsp;/&nbsp;
											<a asp-page="/Products">سامسونگ</a>
										</div>
										<a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
										<div class="price">4.000.000 تومان</div>
										<div class="rate">
											<i class="fa fa-star-half-alt"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span class="encrypt89312423451">(14 رای دهنده)</span>
										</div>
									</div>
								</div>
								<!-- /Product Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>