@page 
@model Server.Areas.Admin.Pages.BasicInfo.Products.ProductPriceLists.IndexModel
@{
    var pageTitle =
        Resources.DataDictionary.PriceLists;

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<div class="row justify-content-between px-2 my-2">
    <h5 class="col-auto">@(Resources.DataDictionary.PriceLists)</h5>
    <a class="col-auto btn btn-primary" asp-page="Create"  asp-area="Admin">@(Resources.ButtonCaptions.Create)</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            @(Html.Ub_DisplayStringWithTh(Resources.DataDictionary.Title))
        </tr>
        <th>@(Resources.DataDictionary.Actions)</th>
    </thead>
    <tbody>
        @foreach (var priceList in Model.ViewModel)
        {
            <tr>
                @(Html.Ub_DisplayStringWithTd(priceList.Title))
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-page="Products" asp-route-Id="@(priceList.Id)" type="button" class="btn btn-secondary">@(Resources.DataDictionary.Products)</a>
                        <a asp-page="Update" asp-route-Id="@(priceList.Id)" type="button" class="btn btn-warning">@(Resources.ButtonCaptions.Edit)</a>
                        <a asp-page="Delete" asp-route-Id="@(priceList.Id)" type="button" class="btn btn-danger">@(Resources.ButtonCaptions.Delete)</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>