@using Application.CustomerSearch
@using Domain.CustomerSearch
@inject CustomerSearchApplication customerApplication
@inject IJSRuntime JS


<section>
	<div class="search-box position-relative my-3 w-100 px-1">

		<div class="input-group mb-3">
			<input class="form-control customer-search-box text-center"
				   value="@searchMobile"
				   maxlength="@(Constants.FixedLength.CellPhoneNumberIran)"
				   placeholder="@(Resources.DataDictionary.CustomerSearch)"
				   @oninput="OnInputChanged"
				   @onfocus="OnFocus" />

			@if (isLoading)
			{
				<span class="input-group-text">
					<span class="spinner-border spinner-border-sm text-primary"></span>
				</span>
			}
		</div>

		@if (isFocus)
		{
			@if (isLoading is false &&
					suggestion == null &&
					searchMobile.Length == Constants.FixedLength.CellPhoneNumberIran)
			{
				<div class="search-suggestions shadow-sm p-2" style="animation: fadeIn 0.3s ease;">
					<div class="text-center py-2 text-muted">@(Resources.DataDictionary.NothingFound)</div>

					<Button Class="col btn btn-primary w-100" @onclick="CreateCustomerClick">
						@(Resources.DataDictionary.CreateOf) @(Resources.DataDictionary.Customer)
					</Button>
				</div>
			}
		}

	</div>

	<div class="mt-4">
		<fieldset>
			<legend class="m-0">@(Resources.DataDictionary.CustomerInformation)</legend>
		</fieldset>

		<hr class="my-2" />

		<div class="mt-2">
			<label class="form-label">@(Resources.DataDictionary.Family)</label>
			<input class="form-control" value="@(suggestion?.LastName)" disabled />
		</div>

		<div class="mt-2">
			<label class="form-label">@(Resources.DataDictionary.Mobile)</label>
			<input class="form-control" value="@(suggestion?.Mobile)" disabled />
		</div>

		<div class="mt-2">
			<label class="form-label">@(Resources.DataDictionary.NationalCode)</label>
			<input class="form-control" value="@(suggestion?.NationalCode)" disabled />
		</div>
	</div>
</section>