@page "{customerId}"
@model Server.Areas.Admin.Pages.BasicInfo.ShippingAddress.IndexModel
@{
}
<div class="my-2 float-end">
    <a class="btn btn-primary" asp-page="Create"  asp-route-CustomerId="@(Model.CustomerId)" asp-area="Admin">@(Resources.ButtonCaptions.Create)</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@(Resources.DataDictionary.City)</th>
            <th scope="col">@(Resources.DataDictionary.Address)</th>
            <th scope="col">@(Resources.DataDictionary.PostalCode)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var model in Model.ViewModel)
        {
            <tr>
                <td>@(model.City)</td>
                <td>@(model.Address)</td>
                <td>@(model.PostalCode)</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-page="Update" asp-route-Id="@(model.Id)" type="button" class="btn btn-warning">@(Resources.ButtonCaptions.Edit)</a>
                        <a asp-page="Delete" asp-route-CustomerId="@(model.CustomerId)" asp-route-Id="@(model.Id)" type="button" class="btn btn-danger">@(Resources.ButtonCaptions.Delete)</a>

                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>


