@page
@model Server.Areas.Admin.Pages.BasicInfo.Products.CreateModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.Product}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>

		<fieldset>

			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<ub-full-input asp-for="CreateViewModel.Name" />

			<ub-full-input asp-for="CreateViewModel.ShortDescription" />

			<ub-full-input asp-for="CreateViewModel.FullDescription" />

			@*
            <ub-full-input asp-for="CreateViewModel.CategoryId" />

            <ub-full-input asp-for="CreateViewModel.StoreId" />
            *@

			<ub-full-select asp-for="CreateViewModel.UnitId" asp-items="Model.BaseUnitList" />

			<ub-full-select asp-for="CreateViewModel.ProductType" asp-items="Model.ProductTypeList" />

			<label class="form-label">@(Resources.DataDictionary.Category)</label>
			<select asp-for="CreateViewModel.CategoryId" class="form-control mb-3">
				@foreach (var parent in Model.Categories)
				{
					<optgroup label="@(parent.Name)">
						@foreach (var child in parent.ChildCategories)
						{
							<option value="@(child.Id)">@(child.Name)</option>
						}
					</optgroup>
				}
			</select>

			<ub-full-input asp-for="CreateViewModel.DownloadUrl" />

		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

	</section-form>

</form>