@page
@model Server.Areas.Admin.Pages.BasicInfo.ProductReviews.IndexModel
@{
}
@* <div class="my-2 float-end">
    <a class="btn btn-primary" asp-page="Create" asp-area="Admin">@(Resources.ButtonCaptions.Create)</a>
</div> *@

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@(Resources.DataDictionary.Text)</th>
            <th scope="col">@(Resources.DataDictionary.User)</th>
            <th scope="col">@(Resources.DataDictionary.Product)</th>
            @* <th>scope="col">@(Resources.DataDictionary.Rate)</th> *@
            <th scope="col">@(Resources.DataDictionary.InsertDateTime)</th>
            @* <th>scope="col">@(Resources.DataDictionary.Status)</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var model in Model.ViewModel)
        {
            <tr>
                <td>@(model.Text)</td>
                <td>@(model.IsVerified)</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            عملیات
                        </button>
                        <ul class="dropdown-menu">


                            @* <form method="post" asp-page-handler="Approve" asp-route-id="@comment.Id" style="display:inline">
                                <button type="submit" class="btn btn-success btn-sm">Approve</button>
                            </form>
                            <form method="post" asp-page-handler="Reject" asp-route-id="@comment.Id" style="display:inline">
                                <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                            </form> *@
                            <li><a asp-page="Update" asp-route-Id="@(model.Id)" type="button" class="btn btn-warning">@(Resources.ButtonCaptions.Edit)</a></li>
                            <li><a asp-page="Delete" asp-route-Id="@(model.Id)" type="button" class="btn btn-danger">@(Resources.ButtonCaptions.Delete)</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@* <table class="table table-bordered table-striped">
   
    <tbody>
        @foreach (var comment in Model.ViewModel)
        {
            <tr>
                <td>@comment.Text</td>
                <td>@comment.CustomerName</td>
                <td>@comment.ProductName</td>
                <td>@comment.Rate</td>
                <td>@comment.CreatedAt.ToString("yyyy/MM/dd HH:mm")</td>
                <td>
                    @if (comment.IsConfirmed)
                    {
                        <span class="text-success">تایید شده</span>
                    }
                    else
                    {
                        <span class="text-warning">در انتظار تایید</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table> *@