@page "/pos"
@layout PosLayout

@using Application.Aggregates.Customers
@using Application.Aggregates.Orders
@using Application.Aggregates.Products

@inject BasketApplication basketApplication
@inject CustomerApplication customerApplication
@inject ProductsApplication productApplication
@inject ISessionStorageService sessionStorage


<PageTitle>Pos</PageTitle>

<div class="sticky-top row blur m-0">
	<div class="input-group p-0">
		<SearchLookup onSelection="onProductSelection" />
	</div>
</div>

<div style="heght: 580px; overlow-y: scroll;" class="row m-0 pt-2">
	<table style="margin-bottom: 200px;" class="table overflow-hidden align-middle rounded-3">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">نام</th>
				<th scope="col">تعداد</th>
				<th scope="col">قیمت</th>
				<th scope="col">تخفیف</th>
				<th scope="col">کل</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			@if (Basket != null)
			{
				@for (int i = 0; i < Basket?.BasketItems.Count; i++)
				{
					var basketItem = Basket.BasketItems[i];

					<tr>
						<th scope="row">@(i + 1)</th>
						<td>@(basketItem.ProductName)</td>
						<td>
							<div class="d-flex justify-content-between bg-primary rounded-5 w-50">
								<button class="btn btn-light rounded-circle p-0 px-2 m-1">+</button>
								<span class="d-flex justify-content-between align-items-center text-white">@(basketItem.Quantity)</span>
								<button class="btn btn-light rounded-circle p-0 px-2 m-1">-</button>
							</div>
						</td>
						<td>@(basketItem.BasePrice)</td>
						<td>@(basketItem.DiscountValue)</td>
						<td>@(basketItem.TotalPrice)</td>
						<td>
							<button @onclick="() => RemoveBasketItem(Basket.Id, basketItem.Id)" class="btn btn-danger">
								<i class="bi bi-trash d-flex py-1"></i>
							</button>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td>
						<div class="spinner-border mt-2" style="width: 2rem; height: 2rem;" role="status">
							<span class="visually-hidden"></span>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="fixed-bottom row m-0">
	<div class="row m-0">
		<div class="col-2"></div>
		<div class="col row blur m-0 p-0 pb-2">

			<div class="col-8 ps-0">
				<div class="bg-light h-100 d-flex flex-column justify-content-between rounded-3 border border-1 border-gray p-2">

					<textarea class="form-control" placeholder="توضیحات..." rows="3"></textarea>

					<div class="row align-items-center bg-light rounded-3 border border-1 p-0 py-1 m-0 my-2">
						<div class="col px-1">
							<input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" checked>
							<label class="btn w-100" for="option3">نقد</label>
						</div>
						<div class="col mx-5">
							<input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" disabled>
							<label class="btn w-100" for="option1">کارتخوان</label>
						</div>
						<div class="col px-1">
							<input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" disabled>
							<label class="btn w-100" for="option2">درگاه</label>
						</div>
					</div>

					<button class="btn btn-primary w-100">اضافه کردن در انتظار پرداخت</button>

				</div>
			</div>

			<div class="col-4 d-flex justify-content-center align-items-center bg-light rounded-3 border border-1 border-gray p-2 px-4">
				<div class="w-100">
					<div class="d-flex justify-content-between py-2">
						<span>قیمت کل</span>
						<span>35,000</span>
					</div>
					<div class="d-flex justify-content-between py-2">
						<span>تخفیف</span>
						<span>3,000</span>
					</div>
					<div class="d-flex justify-content-between py-2">
						<span>مالیات</span>
						<span>2,000</span>
					</div>
					<hr>
					<div class="d-flex justify-content-between py-2">
						<span>قیمت نهایی</span>
						<span>32,000</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>